.container{
 width:980px ;

}

.head1{
 line-height:5rem;
 vertical-align: middle;
 border-bottom:solid;
 border-color:#cccccc ;
}

.head2{
 font-family: 'Caveat Brush', cursive;
 font-size:2rem;
 color:black ;
}
.head2:active{
  color:blue;
}

.shead{

 border-left : solid;
 border-right: solid;

 font-family: 'Caveat Brush', cursive;
 font-size:2rem;
 color:#777777 ;

}

.space1{
 height:1rem; 
 
}


.emph{
 min-height:20px;

}


.Myname{
  background-color:#4aaaa5;
  padding-top: 1rem; 
  text-align:center; 
  font-size:2.5rem;
  color:white;
} 

.content1{
  background-color:white;
  width:500px;
  min-height:300px;
}

.conhead{
  font-size:2rem;
  text-decoration-style: solid;
  padding-top: 2rem;
  color:#4aaaa5 ;
  border-bottom:solid;
  border-bottom-color: #cccccc; 
}

#myinfo 
{}

#myinfo img{
  
  width:15rem;
  height:20rem;

}

.gap{
  width:10rem;
  

}


.modified{
  background-color:white;
  width:160px;
  min-height: 150px; 

}

.cat{

}

.cat img{
  width:3rem;
  height:4rem;
}

.lin{

}

.lin img{
 width:3rem;
 height:4rem;

}

.hedd{
  min-height:2rem;
  border-bottom:solid;
  border-bottom-color: #cccccc; 

}

ul {
  padding-top:0.5rem;
  margin-left:-0.7rem;
  list-style-type: none;
}

li {
  display: inline-block;
}

.border-bottom{


 margin: 0% 10% 0% 10%;
 min-height:3rem;
 border-bottom:solid;
 border-bottom-color: #cccccc; 

}

.target{
  color:#4aaaa5;
  margin-left: 1rem;
  margin-top: 1rem;
  
}

.footer{
  
  background:black; 
  width:980px;
  
  position:fixed;
  bottom:0%;
}
.center{
  color:white;
  text-align:middle; 
}

#port{

}

#port img{
 width:13rem;
 height:18rem;


}

#port{
  float:left;
  margin-left:3rem;
  margin-top:5%;
  width:15rem;
  height:18rem;
  margin-bottom:5%;
}


#port img{
  width:100%;
  height:100%;

}


#com{
  margin-left:2rem;
  color:white;
  font-size:30px;
}

#box1{
  position: relative;
  bottom: 40%;
  width:100%;
  height:30%;
  background-color:#4aaaa5;
 

}

#something{
 margin-left:-1rem;
 width:41rem;

}

.sometext{
   margin-left:-1rem;
   color:#cccccc;
}


#buttonT{
  margin-left: -1rem;
  color: white;
  background-color: #4aaaa5;

}